<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api</title>
</head>
<body>
    <p>Try Country names like Serbia,Liberia,Sierra Leone,Bermuda,Djibouti,Uganda,Holy See (Vatican City State),Congo (Brazzaville),Costa Rica,Rwanda,Ecuador</p>
<form action = "" method = "get">
    <label for="your_name">Country Name </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">
</form>
<p>Country={{Country}} </br> Slug={{Slug}} </br> ISO2={{ISO2}}</p>
</body>
</html> 